.feed{
    background-color: #f3f2ef;
    flex: 0.6;
    margin: 0 20px;
}
.input__file{
    text-decoration: none;
    /* height: 20px; */

}
.feeds-video-list{
    display: grid;
    place-content: center;
}